/.quarto/
/_solutions_psets/
/_solutions_ex/
.Rproj.user
.env
lecture_notes/week-06/acled_south_america.csv
lecture_notes/week-11/tweets_congress.csv
/proposals/
lecture_notes/week-12/tweets_congress.csv
lecture_notes/week-13/country.sqlite
